.jumbotron {
    background: #01386b;
    font-family: 'Aclonica';
    text-align: center;
    color: aliceblue;
}

body {
    background-image: url("../images/train_time.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150% auto;
}

.panel-title {
    font-family: 'Aclonica';
}

.panel .panel-heading {
    background-color:  #01386b;
}

.panel {
    background-color: #acdaf8;
    border: #01386b;
    outline: none;
}

.remove {
    background: #01386b;
    color: white;
}

#logo {
    border-radius: 50%;
}